*{
 margin: 0;
 padding: 0;
}

.main{ 
height: 400px;
width: 500px;
margin: auto;
 background-color: whitesmoke;
margin-top: 50px;
}
.main h2{
 font-weight: 580;
 margin-bottom: 10px;
 font-size: 30px;
text-align: center;
color: black;
margin-top: 90px;
}
.main h1{
 /* font-weight: 600; */
 margin-bottom: 20px;
font-size: 48px;
color: #96173f;
text-align: center;
}
.main h3{
 font-size: 18px;
 font-weight: 400;
color: rgb(118, 114, 114);
text-align: center;
}
.btn{
 border: none;
font-size: 20px;
background-color: #ba4b6a;
color: white;
padding: 15px;
margin-top: 50px;
position: relative;
left: 170px;
/* margin: auto; */
}
.btn:hover{
background-color: #ab1640;
}
